@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');


body {
    font-family: 'Staatliches', cursive;
    background-color: #D5DBB3;
}

.btn {
    @apply font-bold rounded bg-white text-red-600 m-2 hover:bg-gray-300
}

.card {
    @apply flex flex-col items-center mt-5 mr-2 bg-gray-100 shadow-sm hover:shadow-md w-60 h-72
}